.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  .material-icon-orange{
      color: #F2994A;
  }
  
  .naterial-icon-reloj {
      color: #4F4F4F;
  }

#contenedor-principal {
	max-width: 1440px;
	margin: auto;
}

#titulo{
    margin: 0;
}

#center_01{
    width: 969px;
    margin: auto;
}

#head_01{
    display:flex;
    width: 596px;
    padding-bottom: 20px;
}
#dots{
    padding: 8px;
    margin-bottom: 30px;
}
#img_cake{
    width: 969px;
}

#cont_01{
    display:flex;
    margin-top: 15px;
}

#ingredientes{
    width: 580px;
    margin-left: 10px;
    margin-right: 2px;
}

.sentence_01{
    display:flex;
}

.cuadra_1{
    min-width: 21px;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border: solid #828282 1px;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 15px;
}

.cuadra_2{
    width: 36px;
    min-width: 36px;
    height: 36px;
    background-color: #f2994a;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 15px;
    color: #ffffff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 48px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 24px;
    color: #333333;
}

.p_kursiva{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
}

#ingredientes > .sub_title{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 18px;
    color: #333333;
}

#ingredientes > .sentence_01 > p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #333333;
}

#ingredientes > .S_link{
    color: #BDBDBD;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}
.S_link{
    padding-top: 20px;
}
.S_link > a{
    color: #BDBDBD;
    text-decoration: none;
}
/* --------------------Bloque donde se encuentra el timepo de coccion la preparacion , etc. ----------- */
#tiempo{
    width: 216px;
    height: 367px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#tiempo > .tiempo_box{
    display: flex;
    margin-top: 33px;
    justify-content: center;
    align-items: center;
}

#tiempo > .tiempo_box >.tiempo_box_mini{
    display: inline;
    width: 100px;
    text-align: left;
    padding-left: 10px;
}

.gray_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #BDBDBD;
    
}
.orange_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #F2994A;
}
.black_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #333333;
}

/* ----------------------------Parte final de la pagina ---------------- */
footer{
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #828282;
}